<content>

  <section class="landing-title">
    <h1>QUENCHD</h1>
    <h2>DRINK UP!!!</h2>
  </section>

  <section class="landing-descriptions">
    <h4>DISCOVER &amp SHARE</h4>
    <h4>YOUR FAVORITE BEERS</h4>
  </section>

  <section class="landing-action">
    <button class="landing-signup"><a href="<%= new_user_url %>">Sign Up</a></button>
    <h5>Already a Member? <a href="<%= new_session_url %>">Sign In!</a></h5>
  </section>

</content>
