<content class="landing">


  <section class="landing-modal">

    <section class="landing-signin-title">
      <a href="<%= root_url %>" >
        <h1>Quenchd</h1>
        <h2>DRINK UP!</h2>
      </a>
    </section>

    <form class="landing-form" action="<%= session_url %>" method="post">
      <%= auth_token %>

      <input class="landing-form-field username"
        type="text"
        name="user[username]"
        placeholder="Username">

      <input
        class="landing-form-field password"
        type="password"
        name="user[password]"
        placeholder="Password">



      <input class="landing-form-button" type="submit" value="Sign In"></input>
    </form>
    <footer class="loggin-signup">
      New Around Here? <a class="link" href="<%= new_user_url %>"> Sign up!</a>
    </footer>
  </section>

</content>
