<content class="landing">


  <section class="landing-modal">

    <section class="landing-signin-title">
      <h2>Quenchd</h2>
      <h3>DRINK UP!</h3>
    </section>

    <form class="landing-form" action="<%= session_url %>" method="post">
      <%= auth_token %>
      <label>Username
        <input class="landing-form-field"
          type="text"
          name="user[username]">
      </label>


      <label>Password
        <input
          class="landing-form-field"
          type="password"
          name="user[password]">
      </label>


      <input class="landing-form-button" type="submit" value="Sign In"></input>
    </form>
  </section>

</content>
