/* line 1, /Users/user/Documents/App Academy Work/quenchd/app/assets/stylesheets/show-header.scss */
.show-header {
  padding: 16px;
}

/* line 5, /Users/user/Documents/App Academy Work/quenchd/app/assets/stylesheets/show-header.scss */
.thumbnail {
  display: block;
  width: 98px;
  height: 98px;
  background-image: url(/assets/beer-placeholder-fb824f540801af4ed0918fa3ddaec7a3d3e6a821264730052eb4d57bd60b6f69.jpg);
  float: left;
}

/* line 13, /Users/user/Documents/App Academy Work/quenchd/app/assets/stylesheets/show-header.scss */
.title {
  display: block;
  float: left;
  width: 360px;
}

/* line 19, /Users/user/Documents/App Academy Work/quenchd/app/assets/stylesheets/show-header.scss */
.check-in-stats {
  width: 198px;
  height: 98px;
  background: grey;
  float: right;
}

/* line 26, /Users/user/Documents/App Academy Work/quenchd/app/assets/stylesheets/show-header.scss */
.header-top-bar {
  display: block;
}

/* line 30, /Users/user/Documents/App Academy Work/quenchd/app/assets/stylesheets/show-header.scss */
.detail-bar {
  display: block;
  padding: 10px 0;
  border-top: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
  margin: 16px 0;
}

/* line 38, /Users/user/Documents/App Academy Work/quenchd/app/assets/stylesheets/show-header.scss */
.detail-bar > li {
  padding: 0 5px;
  display: block;
  float: left;
  padding-left: 10px;
  border-left: 1px solid lightgrey;
  overflow: hidden;
}

/* line 47, /Users/user/Documents/App Academy Work/quenchd/app/assets/stylesheets/show-header.scss */
.detail-bar > li:first-child {
  border: 0;
}

/* line 54, /Users/user/Documents/App Academy Work/quenchd/app/assets/stylesheets/show-header.scss */
.header-button {
  float: right;
  position: relative;
  height: 52px;
  width: 52px;
  color: #fff;
  background-color: #ffcc00;
  cursor: pointer;
  text-align: center;
  font-size: 50px;
  position: relative;
}

/* line 67, /Users/user/Documents/App Academy Work/quenchd/app/assets/stylesheets/show-header.scss */
.header-button:before {
  content: "Check-in This Beer";
  position: absolute;
  display: none;
  left: 50%;
  transform: translateX(-50%);
  bottom: -100%;
  padding: 5px;
  border-radius: 2px;
  background-color: black;
  color: white;
  font-size: 12px;
  width: 75px;
}

/* line 82, /Users/user/Documents/App Academy Work/quenchd/app/assets/stylesheets/show-header.scss */
.header-button:hover {
  background-color: #f4b800;
}

/* line 86, /Users/user/Documents/App Academy Work/quenchd/app/assets/stylesheets/show-header.scss */
.header_button:hover:before {
  display: block;
}
