
.page-feed {
  display: block;
  padding: 10px;
  margin: 5px;
  border-bottom: 1px solid lightgrey;
}

.page-feed > .user-img {
  float: left;
  border-radius: 50%;
  max-width: 50px;
  max-height: 50px;
}

.page-feed > .beer-img {
  float: left;
  margin-left: 8px;
  max-width: 40px;
  max-height: 40px;
}

.check-in-detail {
  display: block;
  float: left;
  padding: 0px 10px;
  width: 510px;
}

.check-in-review {
  margin: 10px 0 5px 0;
  border: 1px solid #ddd;
}

.check-in-review >p {
  padding: 5px;
}

.interact-bar {
  display: block;
  background-color: #eee;

}

.interact-bar .comment-button {
  width: 100px;
  padding: 10px;
  background-color: #bbb;
  border-radius: 3px;
  font-weight: 600;
  font-size: 12px;
  color: white;
  cursor: pointer;
  margin-right: 5px;
  float: left;
}

.interact-bar .comment-button:hover {
  background-color: #999
}

.interact-bar .liked {
  background-color: #ffcc00;
}

.interact-bar .liked:hover {
  background-color: #ffcc00;
}

.bottom-check-in-bar {
  display: block;
  font-size: 11px;
  font-weight: 400;
  color: #ccc;
  margin: 5px 0px;
}

.bottom-check-in-bar div, .bottom-check-in-bar button {
  float: left;
  margin-right: 5px;
}

.likecount {
  display: block;
  float: left;
  margin: 10px 10px;
}

.spacer {
  padding: 5px;
}

.show-more {
  display: block;
  text-align: center;
  color:#fff;
  padding: 10px 40px;
  margin: 10px auto;
  background-color: #ffcc00;
}

.show-more:hover {
  background-color: #f4b800;
}
