.check-in {
  position: absolute;
  background-color: #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 220px;
  width: 500px;
  overflow: hidden;
}

.check-in-header {
  width: auto;
  height: auto;
  position: relative;
  color: #fff;
  background-color: #000;
  weight: 600;
  padding: 10px;
  margin-bottom: 5px
}

.check-in-header h6 {
  float: left;
  font-weight: 600;
}


.check-in-form {
  position: relative;
  padding: 16px;
}

.check-in-form > textarea {
  resize: none;
  z-index: 10;
  height: 70px;
  width: 365px;
  border-radius: 5px;
  font-size: 16px;
  padding: 5px;
  border: 1px solid lightgrey;
}

.check-in-form > .word-count {
  position:absolute;
  z-index: 20;
  bottom: 25px;
  right: 111px;
  color: grey;
  background-color: lightgrey
}

.check-in-form > .word-count > p {
  font-size: 12px;
}

.check-in-header > button {
  font-size: 16px;
  cursor: pointer;
  float: right;
  font-weight: 200;
}

.check-in-form input[type="file"]{
  display: none;
}

.check-in-form .photo-button {
  float: right;
  height: 80px;
  width: 80px;
  color: #fff;
  background-color: #ffcc00;
  cursor: pointer;
  text-align: center;
  font-size: 50px;
  position:relative;
  margin-top: 2px;
  border-radius: 3px;
  background-image: image-url('ico_checkin_photo');
}

.check-in-form .photo-button img {
  display: block;
  width: 100%;
  height: 100%
}

.rating-range {
  float: left;
  margin: 30px 10px;
  width: 220px
}

.rating-amount {
  display: block;
  float: left;
  margin-top: 20px;
  border-radius: 3px;
  background-color: grey;
  color: white;
  text-transform: uppercase;
  text-align: center;
  font-weight: 300;
  width: 68px;
}

.check-in-location {
  display: none;
  width: 300px;
  height: 35px;
  background-color: lightgrey;
  font-weight: 600;
  padding: 0px 5px;
}

.check-in-location::-webkit-input-placeholder {
  color: #cc6600;
}


.check-in-location:-moz-placeholder {
  color: #cc6600;
}

.check-in-location::-moz-placeholder {
  color: #cc6600;
}

.check-in-location::-ms-input-placeholder {
  color: #cc6600;
}

.check-in-submit {
  display: inline-block;
  position: absolute;
  padding: 8px 35px;
  background-color: #ffcc00;
  color: #fff;
  bottom:-40px;
  right: 15px;
  font-weight: 600;
  border-radius: 3px;
  cursor: pointer;
}
