
.page-feed {
  display: block;
  padding: 10px;
  margin: 5px;
  border-bottom: 1px solid lightgrey;
}

.page-feed > .user-img {
  float: left;
  border-radius: 50%
}

.page-feed > .beer-img {
  float: left;
  margin-left: 8px;
}

.check-in-detail {
  display: block;
  float: left;
  padding: 0px 10px;
  width: 510px;
}

.check-in-review {
  margin: 10px 0 5px 0;
  border: 1px solid #ddd;
}

.check-in-review >p {
  padding: 5px;
}

.interact-bar {
  display: block;
  background-color: #eee;

}

.interact-bar .comment-button {
  width: 100px;
  padding: 10px;
  background-color: #bbb;
  border-radius: 3px;
  font-weight: 600;
  font-size: 12px;
  color: white;
  cursor: pointer;
}

.interact-bar .comment-button:hover {
  background-color: #999

}

.bottom-check-in-bar {
  display: block;
  font-size: 11px;
  font-weight: 400;
  color: #ccc;
  margin: 5px 0px;
}

.bottom-check-in-bar div, .bottom-check-in-bar button {
  float: left;
  margin-right: 5px;
}
