  header {
  display: block;
  position: fixed;
  z-index: 999;
  background-color: #ffcc00;
  height: 55px;
  width: 100%;
  top: 0px;
  color: #ffffff;
}

header nav.header-nav {
  display: block;
  width: 1025px;
  margin: auto;
}

.header-left{
  display: block;
  float: left;
  width: 700px;
}

section.header-title > a {
  display: block;
  margin-right: 20px;
  width: 150px;
  text-align: center;
  float: left;
}

.header-links {
  height: 100%;
}

.header-links > li  {
  float: left;

}

.header-links> li a {
  display: block;
  padding: 17px 0;
  margin: 0 15px;
  font-size: 18px;
  weight: 500;
}

.header-right {
  display: block;
  float: right;
  width: 300px;
}

.user-navigation {
  float: left;
  height: 100%;
  width: 100%;
  padding: 9px 5px 9px 0;
}

.user-navigation > img {
  float: left;
  weight: 35px;
  height: 35px;
  border-radius: 50%;
}

.user-navigation-dropdown {
  position: absolute;
  display:none;
  bottom: -107px;
  background-color: #333;
}

.user-navigation-dropdown> li:first-child{
  border: 0
}

.user-navigation-dropdown > li{
  height: 35px;
  border-top: 1px solid #aaa;
}

.user-navigation-dropdown a, .user-navigation-dropdown .log-out  {
  display: block;
  padding: 10px;
  text-align: left;
  cursor: pointer
}

.user-navigation-dropdown .log-out:focus {
  outline: 0
}

.user-navigation:hover .user-navigation-dropdown {
  display: block;
}
