  header {
  display: block;
  position: fixed;
  z-index: 999;
  background-color: #ffcc00;
  height: 55px;
  width: 100%;
  top: 0px;
  color: #ffffff;
}

header nav.header-nav {
  display: block;
  width: 1025px;
  margin: auto;
}

.header-left{
  display: block;
  float: left;
  width: 700px;
}

section.header-title > a {
  display: block;
  margin-right: 20px;
  width: 150px;
  text-align: center;
  float: left;
}

.header-links {
  height: 100%;
}

.header-links > li  {
  float: left;

}

.header-links> li a {
  display: block;
  padding: 17px 0;
  margin: 0 15px;
  font-size: 18px;
  weight: 500;
}

.header-right {
  display: block;
  float: right;
  width: 270px;

}

.user-navigation {
  float: left;
  height: 100%;
  width: 35px;
  padding: 9px 5px 11px 0;
}

.user-navigation > img {
  float: left;
  weight: 35px;
  height: 35px;
  border-radius: 50%;
}

.user-navigation-dropdown {
  position: absolute;
  display:none;
  bottom: -107px;
  background-color: #333;
}

.user-navigation-dropdown> li:first-child{
  border: 0
}

.user-navigation-dropdown > li{
  height: 35px;
  border-top: 1px solid #aaa;
  width: 175px
}

.user-navigation-dropdown a, .user-navigation-dropdown .log-out  {
  display: block;
  padding: 10px 50px 10px 10px;
  text-align: left;
  cursor: pointer
}

.user-navigation-dropdown .log-out:focus {
  outline: 0
}

.user-navigation:hover .user-navigation-dropdown {
  display: block;
}

#search-bar {
  float: right;
  height: 37px;
  width: 225px;
  margin: 6px 0px;
  background-color: #fff;
  border-radius: 3px;
}

.search-input {
  color:#000;
  width: 100%;
  padding: 10px;
  font-size: 14px;
}

.dropdown{
  display:block;
  background-color: #fff;
  color: #000;
  font-size: 14px;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.3);
}

.item-count {
  display: block;
  background-color: #eee;
  text-transform: uppercase;
  font-size: 8px;
  letter-spacing: 3px;
}

ul .sample {
  padding: 5px;
  border-bottom: 1px solid #eee;
}

ul .sample:last-child {
  border: 0
}

.dropdown a {
  text-align: center;
  display: block;
  padding: 5px;
  font-weight: 500;
  background: #eee;
}
