body {
  background-color: #f5f2e8;
  font-family: Helvetica, sans-serif;
}

main {
  display:block;
  width: 1025px;
  margin: 80px auto;
  min-height: 400px
}

.primary {
  display: block;
  float: left;
  width: 700px;
}

.primary .content {
  display: block;
  background-color: #ffffff;
  padding: 10px
}

.primary .show-header {
  display: block;
  background-color: #fff;
  margin-bottom: 10px;
}

.sidebar{
  float: left;
  width: 275px;
  margin-left: 50px;
}

.applet {

}

h1 {
  font-size: 64px;
  font-weight: 700;

}

h2 {
  font-size: 36px;
  font-weight: 500;

}

h3 {
  font-size: 30px;
  font-weight: 500;
}


h4 {
  font-size: 24px;
  font-weight: 500;
}

h5 {
  font-size: 20px;
  font-weight: 400;
}

h6 {
  font-size: 16px;
  font-weight: 400;
}

button {
  cursor: pointer;
}

.page-title {
  font-weight: 800;
  margin: 5px;
  padding: 5px 0px;
  border-bottom: 1px solid lightgrey;
}

.link {
  color: #cc6600
}

.link:hover {
  color: #ff9933;
}

.hidden {
  display:none;
}

.visible {
  display:block;
}

div.tooltip {
  display:block;
  color: #fff;
  background-color: #000;
  font-size: 12px;
  position:absolute;
  bottom: calc(-50% - 5px);
}

div.tooltip:before {
  content: "";
  width: 0;
  height: 0;
  border-top: none;
  border-bottom: 5px solid #000;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
}

.modal {
  position: fixed;
  top: 0;
  z-index: 1000;
  left: 0;
  background-color: rgba(0, 0, 0, .5);
  min-height: 100%;
  width: 100%
}
