body {
  background-color: #f5f2e8;
  font-family: Helvetica;
}

main {
  display:block;
  width: 1025px;
  margin: auto;
  min-height: 400px
}

.primary {
  display: block;
  float: left;
  width: 700px;
  background-color: #ffffff
}

.sidebar{
  display:block;
  float: right;
  width: 300px;
}
