

content {
  position: relative;
  display: block;
  min-height: 600px;
  background-image: image-url("obamagetsschwifty.jpg");
  background-size: cover;
  color: white;
  font-family: Helvetica;
}

section {
  display: block;
  position: absolute;
  text-align: center;
  // text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.landing-title {
  left: 30px;
  top: 20px;
}

.landing-descriptions {
  left: 45px;
  top: 225px;
}

.landing-action {
  left: 50px;
  bottom: 50px;
}


h1 {
  font-size: 64px;
  font-weight: 700;

}

h2 {
  font-size: 36px;
  font-weight: 500;

}

h4 {
  font-size: 24px;
  font-weight: 500;
}

h5 {
  font-size: 20px;
  font-weight: 400;
}

h5 > a {
  text-decoration: underline;
}

.landing-signup {
  padding: 10px;
  margin: 5px auto;
  display: block;
  background-color: blue;
  font-size: 20px;
  border-radius: 5px
}

.landing-signup > a {
  padding: 10px;
}
