

content {
  display: block;
  position: relative;
  min-height: 600px;
  background-image: image-url("obamagetsschwifty.jpg");
  background-size: cover;
  color: white;
  font-family: Helvetica;
}

h1 {
  font-size: 48px;
  font-weight: 700;
  text-align: center;
}

h2 {
  font-size: 36px;
  text-align: center
}

h4 {
  font-size: 24px;
  text-align: center
}
