

content.landing {
  position: relative;
  display: block;
  min-height: 600px;
  background-image: image-url("obamagetsschwifty.jpg");
  background-size: cover;
  background-repeat: repeat-y;
  color: white;
  font-family: Helvetica;
}

content.landing h5> a{
  text-decoration: underline;
}



content.landing > section {
  display: block;
  position: absolute;
  text-align: center;
  // text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

section.landing-title {
  left: 30px;
  top: 20px;
}

section.landing-descriptions {
  left: 45px;
  top: 225px;
}

section.landing-action {
  left: 50px;
  bottom: 50px;
}


.landing-signup {
  padding: 10px;
  margin: 5px auto;
  display: block;
  background-color: blue;
  font-size: 20px;
  border-radius: 5px
}

.landing-signup > a {
  padding: 10px;
}

section.landing-modal {
  background-color: #ffffff;
  color: black;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px
}

section.landing-modal-title {
  color: #ffcc00;
}

.landing-form {
  font-size: 20px;
  padding: 10px
}

.landing-form input {
  display: block;
  width: 290px;
  height: 22px;
  border-radius: 5px;
  font-size: 20px;
  text-align: left;
  border: 1px solid lightgrey;
  margin: 10px 0;
  padding: 5px
}

.dob:before {
  content: "Birthday:";
  color: #aaa
}


input.landing-form-button {
  height: auto;
  margin: 10px 0;
  display: block;
  background-color: #ffcc00;
  padding: 10px;
  width:300px;
  margin: auto;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  text-align: center
}


.sign-up {
  border-top: 1px solid lightgrey;
  padding: 10px;
  font-weight: 500;
  width: 460px;
}

.sign-up input {
  font-size: 14px;
  width: 210px;
  padding: 5px;
  height: 20px;
  margin: 2px inherit;
  border-radius: 5px
}

.sign-up>input:nth-child(2n) {
  float:right;
}

.sign-up>input:nth-child(2n+1){
  float:left;
}

.disclaimer{
  display: block;
  width: 450px;
  margin: 10px auto;
  font-size: 10px;
  color: grey;
}

.new-item {
  background-color: #fff;
}

.new-item-header {
  display: block;
  text-align: center;
  margin-bottom: 10px
}


.submit-button {
  padding: 10px 20px;
  background-color: #ffcc00;
  color: #fff;
}
