.user-profile-header {
  display: block;
  position: relative;
  background-image: image-url('header-placeholder.png');
  width: 1025px;
  height: 260px;
  position: relative;
  bottom: 25px;
  color: #fff;
}

.user-profile-header > img {
  position: absolute;
  border: 4px solid #fff;
  border-radius: 50%;
  bottom: 30px;
  left: 20px;
  z-index: 30;
}

.user-profile-info {
  position: absolute;
  bottom: 60px;
  left: 165px;
}

.user-profile-info h2 {
  font-weight: 600;
}

.user-profile-footer {
  display: block;
  position: absolute;
  z-index: 10;
  bottom: 0px;
  left: 0px;
  background-color: #000;
  padding-left: 155px;
  width: 870px
}

.user-profile-footer  li {
  float: left;
  border-left: 1px solid grey;
  margin: 5px;
  padding: 0 30px;
}

.user-profile-footer li:first-child {
  border-left: 0;
  padding-left: 0
}
