.sidebar-applet {
  display:block;
  background-color: #fff;
  padding: 10px;
  margin-bottom: 15px
}

.sidebar-applet-header {
  text-align: center;
  border-bottom: 1px solid #eee;
  margin-bottom: 10px
}

.sidebar-applet-header h6 {
  color: #aaa
}

.sidebar-applet .check-in-stats {
  float: none;
  margin: 10px auto;
  color: #000;
  background-color: #f8f8f8;
}

.sidebar-applet .check-in-stats li {
  text-align: center;
}

.approval-list-item{
  margin: 10px 0;
}


.approval-list-item img {
  display: block;
  float: left;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin-right: 10px
}

.approval-list-name{
  display: block;
  float: left;
  width: 135px;
}

.approval-list-item h5 {
}

.approval-list-item p {
  color: #ccc;
  font-size: 12px;
}

.approval-list-button {
  float: right;
  font-size: 14px;
  padding: 5px 0;
}

.approve-button {
  padding: 3px;
  margin: 0 5px;
  background-color: #080;
  color: #fff;
}

.reject-button {
  padding: 3px;
  margin: 0 5px;
  background-color: #800;
  color: #fff;
  font-weight: bolder;
  min-width: 18px;
  text-align: center;
}


.picture-list li {
  float:left;
}

.picture-list li img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin: 5px
}


.beer-list-item  {
  margin: 5px;
}

.beer-list-item h6 {

  float: left;
  vertical-align: middle;
  display: block;
  margin-left:  5px;
  max-width: 190px;
  padding-top: 10px;
}

.beer-list-item img {
  width: 50px;
  height: 50px;
  float:left
}

.filler {
  height: 260px;

}
