.sidebar-applet {
  display:block;
  background-color: #fff;
  padding: 10px;
  margin-bottom: 15px
}

.sidebar-applet-header {
  text-align: center;
  border-bottom: 1px solid #eee;
  margin-bottom: 10px
}

.sidebar-applet-header h6 {
  color: #aaa
}

.sidebar-applet .check-in-stats {
  float: none;
  margin: 10px auto;
  color: #000;
  background-color: #f8f8f8;
}

.sidebar-applet .check-in-stats li {
  text-align: center;
}
