.sidebar-applet {
  display:block;
  background-color: #fff;
  padding: 10px;
}

.sidebar-applet-header {
  text-align: center;
  border-bottom: 1px solid #eee;
  margin-bottom: 10px
}

.sidebar-applet-header h6 {
  color: #aaa
}
