<header>
  <nav class="header-nav group">
    <section class="header-title">
      <a href="/#/">
        <h3>QUENCHD</h3>
        <h6>DRINK UP!</h6>
      </a>


    </section>
    <ul class="header-links group">
      <li><a href="#">The Pub</a></li>
      <li><a href="#">Best Beers</a></li>
    </ul>


    <section class="header-user-search">


      <form>
        <input type="text"
      </form>
    </section>


  </nav>
</header>
